<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaCosmos</title>
  </head>
  <body>
    <div>JavaCosmos links:</div>

    <br />

    <div>
      <a href="/swagger-ui/index.html">Swagger UI</a>: Web-based Swagger
      interface to explore API endpoints
    </div>

    <div>
      <a href="/graphiql">GraphiQL</a>: Interactive GraphQL IDE shipped with
      Spring for GraphQL
    </div>

    <div>
      <a href="/h2-console">H2 Console</a>: Web-based H2 database interface
    </div>

    <br />

    <div><a href="/thymeleaf">Thymeleaf example</a></div>
    <div><a href="/jsp">JSP example</a></div>

    <br />

    <div><a href="/files">File upload example</a></div>

    <br />

    <div><a href="/form-auth/test">Form login example</a></div>
    <div><a href="/basic-auth/test">Basic HTTP auth example</a></div>

    <br />
  </body>
</html>
